@import url('login.css');
@import url('register.css');
@import url('plan.css');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #F46161;
    --secondary-color: #42231E;
    --tertiary-color: #FFFFFF;
    --background-color: #f0f0f0;
    font-size: 62.5%;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: var(--background-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
}

#menu{
    font-size: 4.8rem;
    position: fixed;
    top: 0;
    right: 0;
    padding: 1rem;
    color: var(--primary-color);
}

#menu:hover{
    cursor: pointer;
}

#close{
    font-size: 4.8rem;
    position: fixed;
    top: 0;
    right: 0;
    padding: 1rem;
    color: var(--primary-color);
}

main{
    display: flex;
    box-shadow: 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5rem; 
    background-color: var(--tertiary-color);
}

/*Começo do aside*/
aside{
    background-color: var(--tertiary-color);
    border-radius: 5rem; 
}

aside h1{
    text-align: center;
    color: var(--primary-color);
    font-size: 5.4rem;
    margin: 5.3rem auto 0 auto;
    max-width: 44.3rem;
    max-height: 13.4rem;
    line-height: 100%;
}

aside img{
    width: 49.2rem;
    margin-top: -6rem;
    margin-bottom: -2rem;
}

aside h2{
    text-align: center;
    max-width: 40.5rem;
    max-height: 6rem;
    line-height: 96%;
    font-size: 2.6rem;
    font-weight: 500;
    margin: auto;
}

aside p{
    text-align: center;
    max-width: 37.4rem;
    max-height: 2.6rem;
    font-size: 1.5rem;
    margin: 1rem auto;
    color: var(--primary-color);
    font-weight: 500;
}

aside a{
    color: black;
    text-decoration: none;
}

aside a:hover{
    text-decoration: underline;
}
/*Fim do aside*/

/*Começo do article*/
article{
    background-color: var(--primary-color);
    border-radius: 5rem;
    max-width: 65.9rem;
    max-height: 87rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*Fim do article*/