.register{
    padding-bottom: 15.8rem;
    padding-top: 9.7rem;
    max-height: 76rem;
}

.create-account{
    margin-left: 26px;
    margin-right: 27px;
}

.create-account input[type="submit"]{
    width: 27.2rem;
    height: 6.4rem;
    border-radius: 2rem;
    background-color: transparent;
    border-style: solid;
    color: var(--tertiary-color);
    border-color: var(--tertiary-color);
    text-align: center;
    padding-left: 0;
    font-weight: 600;
}

.fullname{
    display: flex;
    gap: 1.8rem;
    width: 60.6rem;
}

.fullname p input{
    width: 29.4rem;
}

.create-account input,
select{
    width: 60.6rem;
    height: 7.6rem;
    background-color: var(--tertiary-color);
    opacity: 80%;
    border-radius: 2rem;
    border: none;
    font-size: 2rem;
    padding-left: 2.5rem;
    margin-bottom: 3.2rem;
}

select{
    text-align: center;
}

.submit-btn{
    text-align: center;
}